.main_banner {
    position: relative;
    width: 100%;
    height: 100vh; /* 원하는 높이로 조정 */
    overflow: hidden;
}

.main_banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* 비디오를 배경으로 설정 */
}

.main_banner .inner {
    position: relative;
    z-index: 1; /* 비디오 위에 콘텐츠를 표시 */
}