/* common css  */
@import url("common.css");

body {
  background-color: #ebeae3;
  color: #432626;
}

/* main */
main {
  font-size: 17px;
  font-family: "SUIT", "Montserrat", Arial, "Apple SD Gothic Neo", "맑은 고딕",
    "malgun gothic", "돋움", "dotum", sans-serif !important;
}

main .inner {
  width: 560px;
}

.find-id {
  color: #432626;
}

.find-id-title {
  padding: 50px 0 50px 0;
}

.find-id-title p {
  color: #432626;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.find-id input {
  border: 1px solid #747474;
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px 25px 12px 12px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 14px;
  background: none;
}

.find-id input.name {
  margin-bottom: 20px;
}

.find-id input::placeholder {
  font-size: 14px;
}

.find-id button {
  width: 100%;
  height: 50px;
  background-color: #432626;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

button.find-id-btn {
  font-size: 15px;
  margin-top: 40px;
}

button.find-id-btn a {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.find {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  color: #888888;
}

.find-pw {
  color: #888888;
  font-size: 13px;
}

.find span {
  margin: 0 5px;
}

.result {
  color: #ff003e;
  margin: 30px 0 0 0;
  line-height: 160%;
  font-size: 14px;
}

/* 아이디 찾기 */

.foundUserId {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.foundUserId p {
  font-size: 17px;
  text-align: center;
  line-height: 180%;
}

.foundUserId p span {
  font-size: 19px;
  font-weight: 600;
  text-align: center;
  line-height: 180%;
}

/* 성공 후 버튼 */
.btn {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

button.sign-in,
button.find-pw {
  width: calc((100% - 10px) / 2);
  border: 1px solid #432626;
  background-color: transparent;
}

button.sign-in a,
button.find-pw a {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 500;
  color: #432626;
}
