/* chat */

.chat {
   display: none;
  z-index: 99;
  margin: 0 auto;
  padding: 20px 40px;
  width: 750px;
  height: 850px;
  /*opacity: 20%;*/

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}

.slide-up {
  animation: slide-up 0.8s ease-out forwards;
  display: block !important;
}

.slide-down {
  animation: slide-down 0.8s ease-out forwards;
}

@keyframes slide-up {
  from {
    transform: translate(-50%, -30%);
    opacity: 0; /* 시작 시 투명도를 0으로 설정하여 처음에는 보이지 않도록 설정 */
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1; /* 끝날 때 투명도를 1로 설정하여 완전히 나타나도록 설정 */
  }
}

@keyframes slide-down {
  from {
    transform: translate(-50%, -50%);

    opacity: 1;
  }
  to {
    transform: translate(-50%, -30%);
    opacity: 0;
  }
}

.chat-title {
  display: flex;
  justify-content: space-between;
}

.chat-title-content,
.my-chat {
  display: flex;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 80px;
  padding: 10px 0;
}

.chat-title {
  border-bottom: 0.2px solid #fff;
}

.chat-title p {
  font-size: 18px;
  font-weight: 600;
}

.fa-bell {
  color: rgb(220, 220, 220);
  font-size: 25px;
  padding-right: 15px;
}

.cancelBtn {
  width: 50px;
  height: 50px;
  position: relative;
  background: none;
  cursor: pointer;
}

.cancelBtn span {
  position: absolute;
  width: 30px;
  height: 2px;

  left: 22px;
  top: 15px;
}
.cancelBtn span:nth-child(1) {
  transform: rotate(45deg);
  background-color: #fff;
}

.cancelBtn span:nth-child(2) {
  transform: rotate(-45deg);
  background-color: #fff;
}

/* 채팅 메세지 창 */
.chatting {
  padding: 15px;
  height: calc(100% - 160px);
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chatting::-webkit-scrollbar {
  display: none;
}
.chatting-msg {
  display: flex;
  padding: 15px 0px;
}
.msg-profile {
  height: 25px;
  width: 25px;
  border-radius: 50%; /* 동그랗게 만들기 */
  overflow: hidden; /* 넘치는 부분 숨기기 */
  display: inline-block; /* 인라인 블록으로 설정 */
  margin-right: 10px; /* 오른쪽 마진 */
}

.msg-profile img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* 이미지가 div를 채우도록 설정 */
}

/* 프로필 사진 스타일 */
.chat-profile {
  height: 32px;
  width: 34px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
  border: 2px solid gray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.chat-profile img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* 이미지가 div를 채우도록 설정 */
}

.msg-nickname {
  margin-bottom: 8px;
}

.msg-nickname p {
  color: #ffffff;
}

.msg-text {
  padding: 15px 15px;
  background-color: #48484b;
  border-radius: 50px;
  color: #ffffff;
}

.msg-writing-time {
  height: 100%;
  margin-top: auto;
  padding-left: 5px;
  font-weight: 300;
}

.msg-writing-time p {
  color: #ffffff;
  font-size: 12px;
  display: flex;
  align-items: end;
}

/* 내가 쓴 채팅 */
.my-msg {
  display: flex;
  justify-content: end;
  padding: 15px 0px;
}

.my-msg-writing-time {
  height: 100%;
  margin-top: auto;
  padding-right: 5px;
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
}

/* 메세지 input창 */
.my-chat {
  border-top: 0.2px solid #fff;
  display: flex;
  justify-content: space-between;
}

.my-chat-input {
  border: none;
  resize: none;
  background: none;
  height: 100%;
  width: 100%;
  padding: 5px;
  outline: none;

  vertical-align: auto;
}

.send {
  width: 55px;
  height: 40px;
  margin-left: 20px;
  border-radius: 40px;
  background-color: #abb8c3;
  /* background-color: #ff7921; */
}

.fa-paper-plane {
  height: 100%;
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
