/* common css  */
@import url("common.css");

/* 채팅 css */
@import url("main-chat.css");

/*main 시작*/
body {
  overflow: hidden;
}
main {
  height: 100vh;
  width: 100%;
}
.main_banner {
  height: 100vh;
  width: 100%;
  background: none;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 2s ease-in-out;
}

.main_banner::before {
  content: "";
  display: block;
  background: rgb(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

/* 마우스 애니메이션 */
.mouse {
  /* display: none; */
  z-index: 9;
  position: absolute; /* 변경: 절대 위치 지정 */
  bottom: 10%; /* 원하는 위치로 설정 (예: 가운데) */
  left: 50%; /* 원하는 위치로 설정 (예: 가운데) */
  transform: translate(-50%, -50%); /* 가운데 정렬 */
  width: 18px;
  height: 32px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid #ffffff;
}

.wheel {
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background-color: #fff;
  position: absolute; /* 변경: 절대 위치 지정 */
  top: 20%; /* 원하는 위치로 설정 (예: 가운데) */
  left: 50%; /* 원하는 위치로 설정 (예: 가운데) */
  transform: translate(-50%, -50%); /* 가운데 정렬 */
  animation: wheelAnimation 2s infinite; /* 애니메이션 적용 */
}

@keyframes wheelAnimation {
  0%,
  100% {
    height: 3px;
    top: 50%;
  }
  68% {
    top: 20%;
    height: 4px;
  }
  75% {
    top: 30%;
    height: 7px;
  }

  84%,
  92% {
    top: 80%;
    height: 4px;
  }
}
