
@import "side.css";
body {
  font-family: Arial, sans-serif;
  background-color: #ebeae3;
  margin: 0;
  padding: 0;
  color: #432626;
}

.section-header,
.section-footer {
  width: 100%;
}

.section-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /*padding-bottom: 80px;*/
}

.section-leftNav,
.section-rightAside {
  width: 20%;
  background-color: #ebeae3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.section-main {
  width: 55%;
  padding: 20px;
  background-color: #ebeae3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.middle-box {
  text-align: center;
  width: 100%;
}

.middleForm-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middleForm-content {
  margin-bottom: 1.5rem;
  width: 100%;
}

.middleForm-content h2 {
  font-size: 1.5rem;
  color: #432626;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: 700;

}

.middleForm-content h2 i {
  margin-right: 0.5rem;
}

.middleForm-content label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
}

.middleForm-content input[type="text"],
.middleForm-content input[type="date"],
.middleForm-content input[type="email"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.middleForm-content p {
  margin: 0;
  margin-left: 25px;
  font-size: 0.875rem;
}

.checkCenter {
  margin-top: 1rem;
}

.check {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(82, 51, 51, 0.3);
  color: white;
  font-size: 1rem;
}

.form-indentation {
  text-align: left;
}

.middleModal-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.middleModal-content {
  text-align: center;
}

.middleModal-content p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.middleModal-content button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.middleModal-content button:hover {
  background-color: #f0f0f0;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.modal-close:hover {
  color: #ff0000;
}

@media (max-width: 768px) {
  .section-container {
    flex-direction: column;
  }

  .section-main {
    padding: 10px;
  }

  .section-leftNav,
  .section-rightAside {
    width: 100%;
    margin: 10px 0;
  }

  .middleForm-content input[type="text"],
  .middleForm-content input[type="date"],
  .middleForm-content input[type="email"] {
    width: calc(100% - 20px);
  }

  .actions {
    justify-content: flex-end;
    width: 100%;
  }
}