body {
  background-color: #ebeae3;
}

.main-container {
  width: 100%;
  /* padding-top: 80px; */
  /* flex-direction: row; */
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #432626;
}

.item-detail-info {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-container {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px; */
  width: 100%;
  /* margin-top: 80px; */
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #432626;
}

.img-box {
  /* border: 1.5px solid #000;
  width: 50%;
  height: 800px;
  flex: 0 1 auto;
  gap: 0.1px;
  overflow: hidden; */
  width: 50%;
  height: 800px;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
}

.details {
  width: 50%;
  height: 800px;
  padding: 50px;
  border-left: 1px solid #432626;
}

.details .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details .description {
  width: 100%;
  padding: 30px 0 50px 0;
  font-style: normal;
}

p.item-name {
  font-weight: 700;
  font-size: 29px;
  margin-top: 25px;
  color: #432626;
}

p.item-price {
  font-weight: 500;
  font-size: 23px;
  margin-top: 70px;
  color: #432626;
}

.item-info {
  margin-top: 153px;
  font-size: 15px;
  line-height: 150%;
  color: #432626;
}

/*  */

.description p.item-desc {
  font-size: 14px;
  font-weight: 500;
  font-size: 15px;
  color: #666666;
}

.quantity {
  border: 1px solid #432626;
  /* border-top: 1px solid #432626;
  border-bottom: 1px solid #432626; */

  width: 100%;
  height: 50px;
  text-align: center;
  /* padding: 40px; */
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.quantity button {
  width: calc(100% / 3);
  height: 100%;
  background-color: #ebeae3;
  /* border-radius: 40px; */
  /* transition: background-color 0.3s ease; */
  font-size: 24px; /* 글씨 크기 조정 */
}

.plus-btn {
  border-left: 1px solid #422626;
  font-size: 22px;
  color: #422626;
}
.minus-btn {
  border-right: 1px solid #422626;
  color: #422626;
}

/* .quantity button:hover {
  background-color: rgba(66, 38, 38, 0.7);
  color: white;
} */

.quantity input {
  width: calc(100% / 3);
  height: 45px;
  background-color: #ebeae3;
  text-align: center;
  font-size: 20px;
  color: #422626;
  -moz-appearance: textfield; /* Firefox에서 스핀 버튼 제거 */
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge에서 스핀 버튼 제거 */
  margin: 0;
}

.quantity input:focus {
  outline: none; /* 포커스 시 테두리 제거 */
}

.addBtn {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  padding: 0; /* padding 제거 */
  box-sizing: border-box; /* 박스 사이징 설정 */
}

.addBtn button:hover {
  background-color: #422626;
  color: #ffffff;
  opacity: 0.9;
}

/* 하단 버튼 */
.price {
  border: 1px solid #422626;
  width: 100%;
  height: 65px;
  text-align: center;
  color: #422626; /* 기본 글씨 색상 */
  font-size: 16px; /* 글씨 크기 조정 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.add-cart-btn {
  width: 100%;
  height: 65px;
  background: #422626;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* 상세설명 */

.what {
  width: 100%;
  padding: 100px 0; /* padding 추가 */
  border-bottom: 1px solid #432626;
}

.what-wrapper {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.gift-box,
.sample-box,
.delivery-box {
  width: calc(100% / 3);
  text-align: center;
  color: #422626;
  line-height: 150%;
}

.box-icon {
  margin-bottom: 10px;
}

.box-title {
  font-size: 15px;
  margin-bottom: 5px;
}

.box-text {
  font-size: 14px;
}

/* 상세설명 */

.what {
  width: 100%;
  padding: 100px 0; /* padding 추가 */
}

.what-wrapper {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.gift-box,
.sample-box,
.delivery-box {
  width: calc(100% / 3);
  text-align: center;
  color: #422626;
  line-height: 150%;
}

.box-icon {
  margin-bottom: 10px;
}

.box-title {
  font-size: 15px;
  margin-bottom: 5px;
}

.box-text {
  font-size: 14px;
}

/* 상세 제품 */

.suggestion-container {
  width: 100%;
  border-bottom: 1px solid #432626;
}

.suggestion-wrapper {
  display: flex;
  justify-content: space-between;
}

.suggestion {
  border-right: 1px solid #432626;
  width: calc(100% / 3);
  height: 550px;
}
.suggestion:nth-child(1) {
  border-right: 1px solid #432626;
  border-left: 1px solid #432626;

  width: calc(100% / 3);
  height: 550px;
}

.suggestion img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.suggestion-title {
  margin-top: 1%;
  margin-left: 1%;
  font-size: 24px;
}

/* 모달 스타일 */
.modal {
  /* 기본적으로 모달을 숨김 */
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  background-color: #fefefe;
  margin: 18% auto;
  padding: 25px 20px;
  width: 400px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  color: #422626;
}
.close {
  color: #aaa;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  font-size: 25px;
  font-weight: 500;
  padding-right: 15px;
}
.close:hover,
.close:focus {
  color: #422626;
  text-decoration: none;
  cursor: pointer;
}
.modal-content button {
  font-size: 15px;
  width: calc((100% - 10px) / 2);
  height: 55px;
  color: #422626;
  font-weight: 500;
}

.modal-content button:hover {
  color: #fff;
  background-color: #422626;
}

#modalMessage {
  font-weight: 600;
  margin-bottom: 25px;
}
