/* common css */
@import url("common.css");
/* 채팅 css */
@import url("main-chat.css");

body {
  background-color: #ebeae3;
}

.container {
  width: 100%;
  height: 100%;
}

.main-container {
  padding-top: 40px;
  width: 100%;
}

.main-container ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.1px;
}

.main-container ul li {
  width: calc((100% - 0.5px) / 3);
  border: 1px solid #432626;
  border-right: none;
  margin-bottom: 50px;
  position: relative;
  line-height: 140%;
  z-index: 1;
  flex-wrap: wrap;
}

.main-container ul li:nth-child(3n) {
  border-right: 1px solid #432626;
}

.main-container ul li:nth-last-child(1) {
  border-right: 1px solid #432626;
}

/* 관리자 삭제 */
ul li button.delete-btn {
  cursor: pointer;
  position: absolute;
}

/* 상품 설명 */

.item-info-wrapper {
  padding: 20px 20px 30px 20px;
}

.item-name-title {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #432626;
}

.item-desc {
  font-size: 14px;
  font-weight: 500;
  color: #432626;
}

/* 상품 이미지 */
ul li .img-box {
  height: 500px;
  width: 100%;
}

ul li .img-box a {
  width: 100%;
  height: 445px;
}

.img-box a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 하단  */
.item-cart-btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;

  color: white;
  font-size: 16px;
  font-weight: 500;

  background: #422626;
  cursor: pointer;
}

.item-cart-btn > p {
  width: 50%;
  padding: 15px;
}

.item-cart-btn > p:nth-child(1) {
  font-weight: 400;
}

/* 상단 서치 */
.search-container {
  padding-top: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 45px;
}

.search-wrapper {
  display: flex;
  align-items: center;

  padding: 5px;
  border: 1px solid #422626;
  width: 250px;
  height: 100%;
}

/* search input */
.search-container .search-bar {
  width: 200px;
  padding: 5px;
  background-color: transparent;
}

/* search btn */
.search-container .item-search {
  margin-right: 10px;
  cursor: pointer;

  background-color: transparent;
  font-size: 14px;
  color: #422626;
  font-weight: 500;
}

/* 관리자 추가버튼 */
.search-container .item-add {
  cursor: pointer;
  background-color: #422626;
  color: #ebeae3;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  margin-left: 5px;
}

.container a .fa-cart-shopping {
  color: #422626;
  opacity: 0.7;
  font-size: 20px;
  cursor: pointer;
}

/* 관리자 삭제 */
button.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  color: #fff;
}

button.delete-btn > i {
  font-size: 25px;
  
}

/* 모달 스타일 */
.modal {
  /* 기본적으로 모달을 숨김 */
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  background-color: #fefefe;
  margin: 18% auto;
  padding: 25px 20px;
  width: 400px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  color: #422626;
}
.close {
  color: #aaa;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  font-size: 25px;
  font-weight: 500;
  padding-right: 15px;
}
.close:hover,
.close:focus {
  color: #422626;
  text-decoration: none;
  cursor: pointer;
}
.modal-content button {
  font-size: 15px;
  width: calc((100% - 10px) / 2);
  height: 55px;
  color: #422626;
  font-weight: 500;
}

.modal-content button:hover {
  color: #fff;
  background-color: #422626;
}

#modalMessage {
  font-weight: 600;
  margin-bottom: 25px;
}

.hidden {
  visibility: hidden;
}
