/* common css */
@import url("common.css");
/* 채팅 css */
@import url("main-chat.css");

body {
  background-color: #ebeae3;
}

.container {
  width: 100%;
  height: 100%;
  /* position: relative;  */
}

.main-container {
  margin-top: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container ul {
  margin-top: 20px;
  display: flex;
  flex-direction: row; /* 가로로 정렬 */
  flex-wrap: wrap;
  justify-content: center; /* 가운데 정렬 */
  gap: 0.1px;
}

.main-container ul li {
  width: 25%;
  height: 800px;
  border: 1.5px solid #000;
  margin-bottom: 40px; /* 아래 간격 */
}

ul li button.delete-btn {
  width: 50px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  color: #432626;
  background: #ebeae3;
  cursor: pointer;
}
ul li button.delete-btn:hover {
  background: #0dff00;
  color: rgb(0, 0, 0);
}

ul li p {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-bottom: 1.5px solid #000;
}

ul li .img-box {
  height: 450px;
  border-bottom: 1.5px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li .img-box a {
  background: #000;
  width: 475px;
  height: 445px;
}

ul li .img-box a img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 박스 내에 꽉 차도록 설정 */
}

ul li span {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1.5px solid #000;
  padding: 18px;
}

ul li button:last-child {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  padding: 13px;
  background: #422626;
  cursor: pointer;
}
ul li button:last-child:hover {
  background: #333d64;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.search-container {
  padding-top: 100px;
  display: flex;
  align-items: baseline;
}

.search-container .search-bar {
  margin-right: 10px;
  position: absolute;
  border: 1px solid #000;
  left: 16.2%;
  transform: translateX(-50%); /* 가운데 정렬을 위해 추가 */
}

.search-container .item-add {
  margin-right: 10px;
  position: absolute;
  left: 24%; /* 위치 조정 */
  cursor: pointer;
}

.search-container .item-search {
  margin-right: 10px;
  position: absolute;
  left: 21%; /* 위치 조정 */
  cursor: pointer;
}

.container a .fa-cart-shopping {
  color: #422626;
  opacity: 0.7;
  font-size: 20px;
  position: relative;
  top: 125px;
  left: 86.1%;
  cursor: pointer;
}

/* 모달 스타일 */
.modal {
  display: none; /* 기본적으로 모달을 숨김 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  height: 200px;
  border: 1px solid #888;
  width: 30%;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
}

.close {
  color: #aaa;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-right: 15px;
  padding-top: 7px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content button {
  margin: 15px;
  padding: 15px 30px;
  font-size: 20px;
}
