/* common css  */
@import url("common.css");

body {
  background-color: #ebeae3;
  color: #432626;
}

.menu .logo a,
.login a {
  color: #432626;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;

  font-size: 17px;
  border-bottom: 1px solid #432626;
  background-color: #ebeae3;
}

nav.menu {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .inner {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  /* background-color: #fff; */
}

.menu .logo {
  font-weight: 700;
}

.gnb {
  display: flex;
  justify-content: left;
  align-items: center;
}

.login {
  padding: 0 60px;
  font-weight: 600;
}

i.fa-bars {
  font-size: 20px;
}

/* main */
main {
  margin-top: 80px;
  font-size: 17px;
  font-family: "SUIT", "Montserrat", Arial, "Apple SD Gothic Neo", "맑은 고딕",
    "malgun gothic", "돋움", "dotum", sans-serif !important;
}

.margin-top {
  margin-top: 40px;
}

main .inner {
  width: 600px;
}

.sign-in {
  color: #432626;
}

.sign-in-title {
  margin: 180px 0 60px 0;
}

.sign-in-title p {
  color: #432626;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.tr {
  padding: 40px 0;
  border-top: 1px solid #432626;
}

.th-title {
  margin-bottom: 15px;
}

.th-sub {
  font-size: 14px;
}

.tr > p > {
  width: 35px;
  height: 7px;
  background-color: #432626;
}

input.email,
input.pw {
  border: 1px solid #432626;
  display: block;
  width: 100%;
  height: 70px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 17px;
  background: none;
}

input::placeholder {
  font-size: 14px;
}

.btn {
  display: flex;
}

button {
  background-color: #432626;

  width: 100%;
  height: 70px;
  font-size: 17px;
  margin-top: 10px;
}

button a {
  color: #fff;
}

footer {
  height: 100px;
}
