/* common css  */
@import url("common.css");

body {
  background-color: #ebeae3;
  color: #432626;
}

/* main */
main {
  margin-top: 80px;
  font-size: 16px;
  font-family: "SUIT", "Montserrat", Arial, "Apple SD Gothic Neo", "맑은 고딕",
    "malgun gothic", "돋움", "dotum", sans-serif !important;
}

main .inner {
  width: 560px;
}

.sign-in {
  color: #432626;
}

.sign-in-title {
  padding: 50px 0 50px 0;
}

.sign-in-title p {
  color: #432626;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.sign-in input {
  border: 1px solid #747474;
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px 25px 12px 12px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 14px;
  background: none;
}

.sign-in input::placeholder {
  font-size: 14px;
}

/* input.email,
input.pw {
  border: 1px solid #432626;
  display: block;
  width: 100%;
  height: 70px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 17px;
  background: none;
} */

.sign-in button {
  width: 100%;
  height: 50px;
  background-color: #432626;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

/*  */

button.sign-in-btn,
button.kakao-btn {
  margin-top: 10px;
}

button.sign-in-btn {
  margin-top: 50px;
}

button.sign-up-btn {
  background: none;
  border: 1px solid #432626;
  margin-top: 10px;
}

button.sign-up-btn a {
  display: block;
  color: #432626;
  height: 50px;
  line-height: 50px;
}

.find {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  color: #747474;
}

.find-email,
.find-pw,
.find span {
  color: #747474;
  font-size: 13px;
}

.find span {
  margin: 0 5px;
}

/* 체크박스 */
span.text {
  font-size: 13px;
  margin-left: 5px;
  font-weight: 500;
}

.circle {
  display: inline-block; /* 영역적용가능해짐 */
  width: 14px;
  height: 14px;

  border: 1px solid #432626;
  box-sizing: border-box;

  position: relative;
  top: 1px;
  cursor: pointer; /* 마우스 올렸을때 손모양 처리 */

  /* background-image: url(https://blog.kakaocdn.net/dn/XTnSL/btrhtUIVtpB/5FungHN6IXVXG8bLbhE9Dk/img.png); */
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

#chk:checked + .circle {
  background-color: #432626;
  border-color: #432626;
  background-image: url(https://blog.kakaocdn.net/dn/t7a2D/btrhtVgLYmG/dUxzAkBy9hIZ4gHmyllQrk/img.png);
}

/* 체크박스는 display:none;을 주면 데이터 처리가 안됨 */
#chk {
  position: absolute;
  left: -999em;
}

.result {
  color: #ff003e;
  margin: 30px 0 0 0;
  line-height: 160%;
  font-size: 14px;
}
