<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


<!--    카멜케이스 변환-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
<!--        <typeAlias type="com.study.springStudy.database.chap01.Person" alias="person"/>-->
        <typeAlias type="com.spring.mood.projectmvc.entity.Member" alias="member"/>
        <typeAlias type="com.spring.mood.projectmvc.entity.ShopItem" alias="shopitem"/>
        <typeAlias type="com.spring.mood.projectmvc.entity.Orders" alias="orders"/>
        <typeAlias type="com.spring.mood.projectmvc.entity.OrderDetails" alias="orderdetails"/>
        <typeAlias type="com.spring.mood.projectmvc.entity.ChatEntity" alias="chat"/>
        <typeAlias type="com.spring.mood.projectmvc.entity.User" alias="user"/>
        <typeAlias type="com.spring.mood.projectmvc.entity.ShoppingCart" alias="shoppingcart"/>
    </typeAliases>

    <mappers>
<!--        <mapper resource="mappers/ReactionMapper.xml" />-->
        <mapper resource="mapper/MemberMapper.xml" />
        <mapper resource="mapper/ShopItemMapper.xml" />
        <mapper resource="mapper/OrdersMapper.xml" />
        <mapper resource="mapper/OrderDetailMapper.xml" />
        <mapper resource="mapper/ChatMapper.xml" />
        <mapper resource="mapper/ShopDetailMapper.xml" />
        <mapper resource="mapper/ShoppingCartMapper.xml" />
    </mappers>
</configuration>