<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mood.projectmvc.mapper.MemberMapper">

    <insert id="save">
        INSERT INTO Users
        (user_account, user_password, user_name, user_email, user_profile, user_address, user_birth)
        VALUES
        (#{userAccount}, #{userPassword}, #{userName}, #{userEmail}, #{userProfile}, #{userAddress}, #{userBirth})
    </insert>

    <select id="findOne" resultType="member">
        SELECT
        user_account
        , user_password
        , user_name
        , user_email
        , user_profile
        , user_address
        , user_birth
        , user_role
        , created_at
        , user_point
        FROM Users
        WHERE user_account = #{account}
    </select>


    <select id="findId" resultType="member">
        SELECT
        user_account
        , user_password
        , user_name
        , user_email
        , user_profile
        , user_address
        , user_birth
        , user_role
        , created_at
        , user_point
        FROM Users
        WHERE user_email = #{email}
        AND user_name = #{name}
    </select>

    <select id="checkId" resultType="boolean">
        SELECT COUNT(*)
        FROM Users
        WHERE user_account = #{account}
    </select>

    <select id="checkEmail" resultType="boolean">
        SELECT COUNT(*)
        FROM Users
        WHERE user_email = #{email}
    </select>

<!--    자동 로그인      -->
    <update id="updateAutoLogin">
        UPDATE Users
        SET session_id = #{sessionId}, limit_time = #{limitTime}
        WHERE user_account = #{account}
    </update>

    <update id="updateRoomId">
        UPDATE Users
        SET room_id = #{roomId}
        WHERE user_account = #{account}
    </update>

    <select id="findUserBySessionId" resultType="member">
        SELECT
        user_account
        , user_name
        , user_email
        ,limit_time
        FROM Users
        WHERE session_id = #{sessionId}
    </select>


    <update id="updatePassword">
        UPDATE Users
        SET user_password = #{NewPw}
        WHERE user_account = #{account}
    </update>


</mapper>