<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.spring.mood.projectmvc.mapper.ShopItemMapper">

    <select id="findOne" resultType="shopitem">
        SELECT
        shop_item_id, shop_item_name, shop_item_desc, shop_item_img, shop_item_date
        FROM ShopItems
        WHERE shop_item_id = #{shopItemId}
    </select>

    <insert id="save">
        INSERT INTO ShopItems
        (shop_item_name, shop_item_desc, shop_item_price, shop_item_img, shop_item_stock)
        VALUES
        (#{shopItemName}),(#{shopItemDesc}),(#{shopItemPrice}),(#{shopItemImg}),(#{shopItemStock})
    </insert>

    <update id="upViewCount">
        UPDATE ShopItems
        SET shop_item_view = shop_item_view + 1
        WHERE shop_item_id = #{shopItemId}
    </update>

</mapper>